@import "libs/variable";
@import "libs/responsive";

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main
{
    height: 100vh;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/bg-intro-desktop.png");
    background-color: $red;

    .container 
    {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position:absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .presentation
      {
        width: 500px;
        color: white;
        margin-right: 60px;
        h1
        {
          font-size: 3rem;
          line-height: 60px;
          margin-bottom: 1.5rem;
        }
        &__desc
        {
          opacity:0.9;
        }
      }

      .sign
      {
        width:500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        
        &__promo
        {
          width:100%;
          padding: 20px;
          align-self: flex-start;
          margin-bottom: 50px;
          background: $blue;
          border-radius: 8px;
          box-shadow: 0px 10px 0px  rgba(0, 0, 0, 0.164);

          text-align: center;

          &--link
          {
            color: white;
            text-decoration: none;
            font-weight: 600;

            span
            {
              font-weight: normal;
              color: $grayish_blue;
            }
          }
        }
        &__form
        {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column;
          padding: 50px;
          background-color: white;
          border-radius: 8px;
          box-shadow: 0px 10px 0px  rgba(0, 0, 0, 0.164);

          form
          {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .form-control 
            {
              padding: 15px 25px;
              border-radius: 5px;
              outline-color:$dark_blue;
              border: 1px solid $grayish_blue;
              font-size: 16px;
              font-family: 'Poppins', sans-serif;
              margin-bottom: 10px;
            }
            
            .success
            {
              border: 2px solid $green;            
            }
            .error
            {
              border:2px solid $red;
            }
            .placeholder_error{
              &::placeholder
              {
                color: $red;
                font-weight: 600;
              }
            }
            .icon_error
            {
              background-image: url(../images/icon-error.svg);
              background-repeat: no-repeat;
              background-position: 95% 50%;
            }
            .message
            {
              font-size: 12px;
              line-height:14px;
              text-align: right;
              margin-bottom: 30px;
              color: $red;
            }


            .btn
            {
              padding: 15px;
              background-color:$green;
              font-family: 'Poppins', sans-serif;
              text-align: center;
              font-size: 16px;
              text-transform:uppercase;
              word-spacing: 3px;
              color: white;
              font-weight:500;
              cursor: pointer;
              outline: none;
              border: 1px solid hsla(154, 65%, 59%, 0.644);
              box-shadow: 0px 2px 0px 2px  rgba(0, 0, 0, 0.164);
              border-radius: 5px;
            }
          }

          &--footer
          {
            color: $grayish_blue;
            text-align: center;
            font-size: 10px;
            font-weight: 600;
            margin-top: 20px;

            span
            {
              color: $red;
            }
          }
         
        }
      }
    }
}

